h1 a, h2 a {
    color: whitesmoke;
    /* color: #9CFFCE */ 
    /*font-family: 'Lobster';*/
    font-family: 'Recursive', sans-serif;;
}

  .page-header {
    background-color: #f7f8fa;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #00a7ff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 24px;
}

body, html, main{
    height: 100%;
}

.content {
    margin-left: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Recursive', sans-serif;
    color: #00a7ff;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #00a7ff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    background-color: #f7f8fa;
    margin-left: 24px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #00a7ff;
}

/*
a:link, a:visited {
    background-color: yellow;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}
*/
/*

a:hover, a:active {
    background-color: #ddd;
}
*/



.button {
    background-color: #00a7ff;
    border-radius: 6px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    cursor: pointer;
}
 
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    background-color: #f7f8fa;
    border: 0.75px solid #d3d4d9;
    border-radius:16px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
} 

.pagination a:hover:not(.active) {background-color: #ddd;}

.shadowB {
    border: 0.75px solid #d3d4d9;
    border-radius:16px;
    padding: 8px 24px;
}

.shadowB:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.15);
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url("/static/images/WoodsDance.jpeg");
    height: 100vh;
    padding-bottom: 10px;
  }
  
  /* Second image (Portfolio) */
  .bgimg-2 {
    background-image: url("http://jxd965.pythonanywhere.com/static/website/images/me.jpg");
    min-height: 400px;
  }
  
  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("/static/images/WoodsDance.jpeg");
    min-height: 400px;
  }
  
  .wide {letter-spacing: 10px;}
  .hover-opacity {cursor: pointer;}
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }



